<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
      <pigeon.FindFiles>
        <processor type="Pigeon.Zipper.Pipelines.SetLogDirectory, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.FindLogs, Pigeon.Zipper" />
      </pigeon.FindFiles> 
		</pipelines>
	</sitecore>
</configuration>
