<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Pigeon.EmailAddress" value="setme@example.com" />
      <setting name="Pigeon.AttachmentName" value="PigeonLogSender" />
    </settings>
    <pipelines>
      <pigeon.FindFiles>
        <processor type="Pigeon.Zipper.Pipelines.SetLogDirectory, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.FindLogs, Pigeon.Zipper" />
      </pigeon.FindFiles>
      <pigeon.ZipFiles>
        <processor type="Pigeon.Zipper.Pipelines.ZipFiles, Pigeon.Zipper" />
      </pigeon.ZipFiles>
      <pigeon.SendFiles>
        <processor type="Pigeon.Zipper.Pipelines.SetEmailAddress, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.EmailZip, Pigeon.Zipper" />
      </pigeon.SendFiles>
    </pipelines>
  </sitecore>
</configuration>
