<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Pigeon.Events.EventHandlers" method="InitializeFromPipeline" />
      </initialize>
    </pipelines>
    <events>
      <event name="pigeon:send">
        <handler type="Pigeon.Events.EventHandlers, Pigeon"  method="SendEvent"/>
      </event>
      <event name="pigeon:send:remote">
        <handler type="Pigeon.Events.EventHandlers, Pigeon" method="SendEventRemote" />
      </event>
    </events>
    <settings>
      <setting name="Pigeon.Email.To" value="setme@example.com" />
      <setting name="Pigeon.Email.From" value="setme@example.com" />
      <!-- Pigeon.AttachmentName: Could modify for use across various servers -->
      <setting name="Pigeon.AttachmentName" value="PigeonLogSender" />
    </settings>
    <commands>
      <command name="pigeon:sendyesterday" type="Pigeon.Commands.SendYesterday, Pigeon"/>
      <command name="pigeon:sendtoday" type="Pigeon.Commands.SendToday, Pigeon"/>
    </commands>
    <pipelines>
      <pigeon.Execute>
        <processor type="Pigeon.Pipelines.SetAttachmentName, Pigeon" />
        <processor type="Pigeon.Pipelines.SetLogDirectory, Pigeon" />
        <processor type="Pigeon.Pipelines.FindLogs, Pigeon" />
        <processor type="Pigeon.Pipelines.ZipFiles, Pigeon" />
        <processor type="Pigeon.Pipelines.SetEmailAddresses, Pigeon" />
        <processor type="Pigeon.Pipelines.SetEmailSubject, Pigeon" />
        <processor type="Pigeon.Pipelines.EmailZip, Pigeon" />
      </pigeon.Execute>
    </pipelines>
  </sitecore>
</configuration>
