<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Pigeon.Zipper.Events.EventHandlers" method="InitializeFromPipeline" />
      </initialize>
    </pipelines>
    <events>
      <event name="pigeon:send">
        <handler type="Pigeon.Zipper.Events.EventHandlers, Pigeon.Zipper"  method="SendEvent"/>
      </event>
      <event name="pigeon:send:remote">
        <handler type="Pigeon.Zipper.Events.EventHandlers, Pigeon.Zipper" method="SendEventRemote" />
      </event>
    </events>
    <settings>
      <setting name="Pigeon.Email.To" value="setme@example.com" />
      <setting name="Pigeon.Email.From" value="setme@example.com" />
      <setting name="Pigeon.AttachmentName" value="PigeonLogSender" />
    </settings>
    <commands>
      <command name="pigeon:sendyesterday" type="Pigeon.Zipper.Commands.SendYesterday, Pigeon.Zipper"/>
      <command name="pigeon:sendtoday" type="Pigeon.Zipper.Commands.SendToday, Pigeon.Zipper"/>
    </commands>
    <pipelines>
      <pigeon.Execute>
        <processor type="Pigeon.Zipper.Pipelines.SetAttachmentName, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.SetLogDirectory, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.FindLogs, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.ZipFiles, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.SetEmailTo, Pigeon.Zipper" />
        <processor type="Pigeon.Zipper.Pipelines.EmailZip, Pigeon.Zipper" />
      </pigeon.Execute>
    </pipelines>
  </sitecore>
</configuration>
